{% if collection.metafields.specs.material != blank %}
<div id="specifications" class="border border-gray-200 leading-normal shadow-sm">
  <h2 class="font-bold text-md uppercase tracking-wide text-blue-800 py-3 px-6 bg-gray-100">
    Main specifications
  </h2>
  <div
    class="flex flex-wrap flex-column text-lg text-blue-800 py-4 px-6"
  >
    <div class="lg:w-1/2 lg:pr-4">
      <div class="mb-2">
        <strong>Material:</strong> {{ collection.metafields.specs.material }}
      </div>
      <div class="mb-2">
        <strong>Finish:</strong> {{ collection.metafields.specs.finish }}
      </div>
      <div class="mb-2">
        <strong>Thickness:</strong> {{ collection.metafields.specs.thickness }}
      </div>
      <div class="mb-2">
        <strong>Sheet size:</strong> {{ collection.metafields.specs.sheetSize }}
      </div>
    </div>
    <div class="lg:w-1/2 lg:pl-4">
      <div class="mb-2">
        <strong>Usage:</strong> {{ collection.metafields.specs.usage }}
      </div>
      <div class="mb-2">
        <strong>Capabilities:</strong>
        {{ collection.metafields.specs.capabilities }}
      </div>
    </div>
  </div>
</div>
{% endif %}
