<div class="text-blue-800" data-template-account>
  <section class="">
    <div class="container mx-auto px-2 md:px-0 py-8">
      <div class="max-w-3xl mx-auto lg:pr-4 lg:mb-0">
        <h1 id="register-page-title" class="mt-0 font-black text-4xl mb-4 text-center">
          {{ 'customers.register.title' | t}}
        </h1>
        <div id="register-page-content" class="page-description text-xl leading-normal text-center">
          To apply for an online account, please fill in the form below. We will review your information within 1-2
          business days and inform you accordingly.
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-100 py-12">
    <div class="container mx-auto px-4 md:px-0">
      <div class="max-w-4xl mx-auto">
        <div class="">
          {% form 'contact', id: "account-application-form" %}

          <input type="text" class="hidden" name="contact[form_name]" value="Account Application" />

          {% if form.errors != blank %}
          {% assign has_message = true %}
          {% assign message_type = 'error' %}
          {% endif %}

          {% if form.posted_successfully? %}
          {% assign has_message = true %}
          {% assign message_type = 'success' %}
          {% endif %}

          {% if has_message %}
          <div class="max-w-4xl mx-auto mb-4">
            <div class="message--{{ message_type }} mb-6">
              {% case message_type %}
              {% when 'success' %}
              <div class="py-3 px-6 border-2 border-green-600 bg-green-100 text-green-600 font-semibold">
                {{ 'contact.form.post_success' | t }}
              </div>
              {% when 'error' %}
              <div class="py-3 px-6 border-2 border-red-600 bg-red-100 text-red-600 font-semibold">
                {{ form.errors | default_errors }}
              </div>
              {% endcase %}
            </div>
          </div>
          {% endif %}

          {% include 'lead-capture-fields' %}

          <div class="mt-4 flex flex-row flex-wrap">
            <div class="w-full lg:w-1/3 lg:pr-4 text-lg py-2">
              <div class="font-bold leading-normal">Any message for us?</div>
            </div>
            <div class="w-full lg:w-2/3 px-6 py-6 bg-white border border-gray-300 rounded-sm shadow-sm">
              <div class="flex flex-row flex-wrap">
                <label class="w-full font-bold text-xs tracking-wide uppercase block mb-2 text-gray-500">Type your
                  message or
                  quetion here</label>
                <textarea name="contact[message]" class="w-full py-3 px-5 border border-gray-400 rounded h-48 text-lg leading-normal"
                  placeholder="Any message, quetions or comments...">I would like to apply for an account. Please get back to me as soon as possible.</textarea>
              </div>
            </div>
          </div>

          <div class="mt-8 flex flex-row flex-wrap">
            <div class="w-full lg:w-1/3 md:pr-4 text-lg">&nbsp;</div>
            <div class="w-full lg:w-2/3">
              <button type="submit"
                class="bg-primary text-white text-xl font-bold py-4 px-12 rounded w-64 mx-auto lg:mx-0 block shadow-lg hover:opacity-75 disabled:opacity-50">
                Submit
              </button>
            </div>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function () {
      console.log("===== Request Sample Page is ready =====");

      function joinRadioSelections(radioInputName, submittedInputName) {
        $('[name="' + radioInputName + '"]').change(function (event) {
          var allSelected = [];
          $('[name="' + radioInputName + '"]:checked').each(function (i, e) {
            allSelected.push($(e).val());
          })
          $('[name="' + submittedInputName + '"]').attr('value', allSelected.join(', '));
        })
      }

      joinRadioSelections('select_markets', 'contact[markets]');
      joinRadioSelections('select_equipments', 'contact[equipments]')

      $('#sample-request-form').submit(function (event) {
        console.log('[Sample Request Form] Submitted data:', $(this).serializeArray());
      })
    });
  </script>

  {% comment %}
  // Disable. We use custom form to register, so that we can review their company details first, before they can have a
  login account
  <article class="account-page-content">
    {% form 'create_customer' %}

    {% assign has_message = false %}

    {% if form.errors != blank %}
    {% assign has_message = true %}
    {% assign message_type = 'error' %}
    {% endif %}

    {% if form.posted_successfully? %}
    {% assign has_message = true %}
    {% assign message_type = 'success' %}
    {% endif %}

    {% if has_message %}
    <div class="account-message form-message message--{{ message_type }}">
      {% case message_type %}
      {% when 'success' %}
      <p>
        {{ 'customers.register.success' | t }}
      </p>
      {% when 'error' %}
      {{ form.errors | default_errors }}
      {% endcase %}
    </div>
    {% endif %}

    <div class="form-fields-columns">
      <div class="form-field form-field--half">
        <input type="text" class="form-field-input form-field-text" id="register_first_name" name="customer[first_name]"
          autocapitalize="words" autofocus {% if form.first_name %}value="{{ form.first_name }}" {% endif %}>

        <label class="form-field-title" for="register_first_name">
          {{ 'customers.forms.first_name' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="text" class="form-field-input form-field-text" id="register_last_name" name="customer[last_name]"
          autocapitalize="words" {% if form.last_name %}value="{{ form.last_name }}" {% endif %}>

        <label class="form-field-title" for="register_last_name">
          {{ 'customers.forms.last_name' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="text"
          class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
          id="register_email" name="customer[email]" autocorrect="off" autocapitalize="off" {% if form.email
          %}value="{{ form.email }}" {% endif %}>

        <label class="form-field-title" for="register_email">
          {{ 'customers.forms.email' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="password"
          class="form-field-input form-field-text {% if form.errors contains 'password' %}form-field-error{% endif %}"
          id="register_password" name="customer[password]">

        <label class="form-field-title" for="register_password">
          {{ 'customers.forms.password' | t }}
        </label>
      </div>
    </div>

    <div class="form-action-row">
      <button class="button-primary form-action--submit" type="submit">
        {{ 'customers.register.submit' | t }}
      </button>

      <div class="form-action-row--helper">
        <span class="form-action-row--helper-item">
          {{ 'customers.register.returning_customer' | t }}
          {{ 'customers.login.sign_in' | t | customer_login_link }}
        </span>
      </div>
    </div>

    {% endform %}
  </article>
  {% endcomment %}
</div>