<div class="text-blue-800" data-template-account>
  <section class="bg-gray-100">
    <div class="container mx-auto px-2 md:px-0 py-8">
      <div class="max-w-3xl mx-auto lg:pr-4 lg:mb-0">
        <h1 id="register-page-title" class="mt-0 font-black text-4xl mb-4 text-center">
          {{ 'customers.register.title' | t}}
        </h1>
        <div id="register-page-content" class="page-description text-xl leading-normal text-center">
          To apply for an online account, please fill in the form below. We will review your information within 1-2
          business days and inform you accordingly.
        </div>
      </div>
    </div>
  </section>

  <section class="py-6 md:py-12">
    <div class="container mx-auto px-2 md:px-0">
      <div class="max-w-4xl mx-auto border border-gray-300 shadow-sm">
        <div class="px-6 py-6 md:px-12 md:py-12">
          <form id="account-application-form">
            {% include 'lead-capture-fields' %}
            <div class="flex flex-row flex-wrap">
              <div class="w-full lg:w-1/3 md:pr-4 text-lg"></div>
              <div class="w-full lg:w-2/3 md:pl-4">
                <button type="submit"
                  class="bg-primary text-white text-xl font-bold py-4 px-12 rounded w-64 mx-auto lg:mx-0 block shadow-lg hover:opacity-75 disabled:opacity-50">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function () {
      console.log("[Register Page] Page is ready");
      $("#account-application-form").on("submit", function (event) {
        event.preventDefault();
  
        // Convert serialised data into indexed array
        console.log("[Register Page] Serialised form data:", $(this).serializeArray());
        var unindexed_array = $(this).serializeArray();
        var indexed_array = {};
  
        $.map(unindexed_array, function (n, i) {
          var label = n["name"];
          var labelLast2 = label.slice(-2);
          var value = n["value"];
  
          if (labelLast2 === '[]') {
            var labelWithoutBrackets = label.slice(0, label.length - 2);
            indexed_array[labelWithoutBrackets] = indexed_array[labelWithoutBrackets] || [];
            indexed_array[labelWithoutBrackets].push(value);
          } else {
            indexed_array[label] = value;
          }
        });
  
        console.log("[Register Page] Indexed array:", indexed_array);
  
        // Disable all fields and button before submission
        var submitButton = $(this).find('button[type=submit]').attr('disabled', true).css('cursor', 'wait');
        var allInputFields = $(this).find('input').attr('disabled', true).css('cursor', 'wait');
        var allTextareaFields = $(this).find('textarea').attr('disabled', true).css('cursor', 'wait');
  
        // Submit
        $.post("/apps/rowmarknz-backend/form", {
          formSubmission: {
            formName: 'Account applications',
            formContent: indexed_array
          }
        }).done(function (result) {
          console.log("[Register Page] Done submit!", result);
          window.location = '/pages/form-submission-thankyou';
        })
      });
    })
  </script>

  <!-- www.123formbuilder.com script begins here -->
  <!-- <script type="text/javascript" defer src="//www.123formbuilder.com/embed/2157190.js?type=lightbox" data-role="form" data-default-width="650px" data-embed-type="lightbox-text-link" data-embed-text-link="Register for online ordering">
    </script> -->
  <!-- www.123formbuilder.com script ends here -->

  {% comment %}
  // Disable. We use custom form to register, so that we can review their company details first, before they can have a
  login account
  <article class="account-page-content">
    {% form 'create_customer' %}

    {% assign has_message = false %}

    {% if form.errors != blank %}
    {% assign has_message = true %}
    {% assign message_type = 'error' %}
    {% endif %}

    {% if form.posted_successfully? %}
    {% assign has_message = true %}
    {% assign message_type = 'success' %}
    {% endif %}

    {% if has_message %}
    <div class="account-message form-message message--{{ message_type }}">
      {% case message_type %}
      {% when 'success' %}
      <p>
        {{ 'customers.register.success' | t }}
      </p>
      {% when 'error' %}
      {{ form.errors | default_errors }}
      {% endcase %}
    </div>
    {% endif %}

    <div class="form-fields-columns">
      <div class="form-field form-field--half">
        <input type="text" class="form-field-input form-field-text" id="register_first_name" name="customer[first_name]"
          autocapitalize="words" autofocus {% if form.first_name %}value="{{ form.first_name }}" {% endif %}>

        <label class="form-field-title" for="register_first_name">
          {{ 'customers.forms.first_name' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="text" class="form-field-input form-field-text" id="register_last_name" name="customer[last_name]"
          autocapitalize="words" {% if form.last_name %}value="{{ form.last_name }}" {% endif %}>

        <label class="form-field-title" for="register_last_name">
          {{ 'customers.forms.last_name' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="text"
          class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
          id="register_email" name="customer[email]" autocorrect="off" autocapitalize="off"
          {% if form.email %}value="{{ form.email }}" {% endif %}>

        <label class="form-field-title" for="register_email">
          {{ 'customers.forms.email' | t }}
        </label>
      </div>

      <div class="form-field form-field--half">
        <input type="password"
          class="form-field-input form-field-text {% if form.errors contains 'password' %}form-field-error{% endif %}"
          id="register_password" name="customer[password]">

        <label class="form-field-title" for="register_password">
          {{ 'customers.forms.password' | t }}
        </label>
      </div>
    </div>

    <div class="form-action-row">
      <button class="button-primary form-action--submit" type="submit">
        {{ 'customers.register.submit' | t }}
      </button>

      <div class="form-action-row--helper">
        <span class="form-action-row--helper-item">
          {{ 'customers.register.returning_customer' | t }}
          {{ 'customers.login.sign_in' | t | customer_login_link }}
        </span>
      </div>
    </div>

    {% endform %}
  </article>
  {% endcomment %}
</div>